
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

/* Define font families */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-metropolis: "Metropolis", sans-serif;
  --font-dm: "DM Sans", sans-serif;
}
